Sprint 8 Tarea 1

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [2]:
df= pd.read_csv("athletes.csv")
df.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [3]:
#recordamos del ejercicio anterior que habia unas filas sin información para altura y peso
#las eliminamos
df_clean= df.dropna(subset=["height", "weight"])

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10858 entries, 0 to 11537
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10858 non-null  int64
 1   name         10858 non-null  object
 2   nationality  10858 non-null  object
 3   sex          10858 non-null  object
 4   dob          10858 non-null  object
 5   height       10858 non-null  float64
 6   weight       10858 non-null  float64
 7   sport        10858 non-null  object
 8   gold         10858 non-null  int64
 9   silver       10858 non-null  int64
 10  bronze       10858 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 1017.9+ KB

In [5]:
df_clean["height"].mean()

1.7669423466568404

In [6]:
df_clean[df_clean.nationality=="ESP"].height.mean()

1.7697419354838695

In [7]:
#vamos a comparar si hay una diferencia significativa a 5% 
#entre las alturas de atletas olimpicos general vs atletas españoles
#H0= no hay diferencia, H1= hay diferencia.

In [8]:
p_value= stats.ttest_1samp(a=df_clean["height"], 
                           popmean= df_clean[df_clean.nationality=="ESP"].height.mean())

In [9]:
p_value

Ttest_1sampResult(statistic=-2.5790700583116313, pvalue=0.00991970472523183)

In [14]:
#como p-value (0.0099) es menor que 1/2 alfa (0.025), rechazamos H0
#1/2 alfa porque estamos comparando si es diferente (2 tail test)
#Pareciera haber diferencia significativa entre las altura de los atletas generales y los atletas españoles.

In [10]:
#ahora vamos a comparar si hay una diferencia significativa a 5% 
#entre el peso de los atletas olimpicos general vs atletas españoles vs canadienses
#H0= no hay diferencia, H1= hay diferencia.

In [11]:
weight_pop= df_clean["weight"]
weight_SPA= df_clean[df_clean.nationality=="ESP"].weight
weight_CAN= df_clean[df_clean.nationality=="CAN"].weight

In [12]:
anova_weight= stats.f_oneway(weight_pop, weight_SPA, weight_CAN)

In [13]:
anova_weight

F_onewayResult(statistic=2.499371758014883, pvalue=0.08218127021452216)

In [14]:
#como p-value (0.0822) es mayor que 1/2 alfa (0.025), rechazamos H1
#Pareciera no haber diferencia significativa entre los pesos de los atletas generales,
#españoles y canadienses.

In [19]:
#En el ultimo ejercicio, vamos a comparar 3 atributos. También usaremos ANOVA.
#Compararemos la altura entre diferentes deportes, ej: atletismo, esgrima y ciclismo.
#H0= no hay diferencia, H1= hay diferencia.

In [16]:
df_clean2= df_clean.dropna(subset=["sport"])

In [17]:
df_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10858 entries, 0 to 11537
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10858 non-null  int64
 1   name         10858 non-null  object
 2   nationality  10858 non-null  object
 3   sex          10858 non-null  object
 4   dob          10858 non-null  object
 5   height       10858 non-null  float64
 6   weight       10858 non-null  float64
 7   sport        10858 non-null  object
 8   gold         10858 non-null  int64
 9   silver       10858 non-null  int64
 10  bronze       10858 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 1017.9+ KB

In [18]:
height_ath= df_clean2[df_clean2.sport=="athletics"].height
height_fen= df_clean2[df_clean2.sport=="fencing"].height
height_cyc= df_clean2[df_clean2.sport=="cycling"].height

In [20]:
anova_height= stats.f_oneway(height_ath, height_fen, height_cyc)

In [21]:
anova_height

F_onewayResult(statistic=5.431570297546887, pvalue=0.004420380027812341)

In [22]:
#como p-value (0.0044) es menor que 1/2 alfa (0.025), rechazamos H0
#Pareciera haber diferencia significativa entre las alturas de los atletas en
#atletismo, esgrima y ciclismo.